@using StephenCleary.Helpers;

<div data-role="page" id="libraries" data-title="Libraries">
    <div data-role="header" data-theme="d">
        <a href="#index" data-role="button" data-icon="home" data-iconpos="notext">Home</a>
        <h2>Open-source libraries and projects</h2>
    </div>
    <div data-role="content">
        <ul data-role="listview">
            <li>
                <a href="#libraries_AsyncEx">
                    <h2>AsyncEx</h2>
                    <img src="Content/images/blank.gif" width="128" height="128" data-src="http://download-codeplex.sec.s-msft.com/Download?ProjectName=nitoasyncex&DownloadId=483868" />
                    <p>Helper types for developing with @Html.CSharp("async") and @Html.CSharp("await").</p>
                </a>
            </li>
            <li>
                <a href="#libraries_ConnectedProperties">
                    <h2>Connected Properties</h2>
                    <img src="Content/images/blank.gif" width="128" height="128" data-src="http://download-codeplex.sec.s-msft.com/Download?ProjectName=connectedproperties&DownloadId=483866" />
                    <p>Dynamically add properties to (almost) any object instance.</p>
                </a>
            </li>
            <li>
                <a href="https://github.com/StephenCleary/AsyncDiagnostics">
                    <h2>Async Diagnostics</h2>
                    <img src="Content/images/blank.gif" width="128" height="128" data-src="https://raw.githubusercontent.com/StephenCleary/AsyncDiagnostics/master/icon.png" />
                    <p>Easy-to-use exception causality chains for @Html.CSharp("async") and @Html.CSharp("await").</p>
                </a>
            </li>
            <li>
                <a href="https://github.com/StephenCleary/CalculatedProperties">
                    <h2>Calculated Properties</h2>
                    <img src="Content/images/blank.gif" width="128" height="128" data-src="https://raw.githubusercontent.com/StephenCleary/CalculatedProperties/master/Icon.128.png" />
                    <p>Easy-to-use calculated properties for MVVM apps.</p>
                </a>
            </li>
            <li>
                <a href="#libraries_Comparers">
                    <h2>Comparers</h2>
                    <img src="Content/images/blank.gif" width="128" height="128" data-src="http://download-codeplex.sec.s-msft.com/Download?ProjectName=comparers&DownloadId=404414" />
                    <p>The last comparison library you'll ever need!</p>
                </a>
            </li>
            <li>
                <a href="#libraries_ArraySegments">
                    <h2>ArraySegments</h2>
                    <img src="Content/images/blank.gif" width="128" height="128" data-src="http://download-codeplex.sec.s-msft.com/Download?ProjectName=arraysegments&DownloadId=483861" />
                    <p>A library for slicing and dicing arrays (without copying).</p>
                </a>
            </li>
        </ul>
    </div>
    <div data-role="header" data-theme="d">
        <h2>Retired open-source libraries and projects</h2>
    </div>
    <div data-role="content">
        <ul data-role="listview">
            <li>
                <a href="https://github.com/StephenCleary/AspNetBackgroundTasks">
                    <h2>ASP.NET Background Tasks</h2>
                    <img src="Content/images/blank.gif" width="128" height="128" data-src="https://raw.githubusercontent.com/StephenCleary/AspNetBackgroundTasks/master/icon.png" />
                    <p>A component that registers "fire and forget" tasks with the ASP.NET runtime. This library is no longer necessary since .NET 4.5.2 introduced @Html.CSharp("HostingEnvironment.QueueBackgroundWorkItem")</p>
                </a>
            </li>
        </ul>
    </div>
</div>
